<% if (success && success.length) { %>
  <div class="msg success"><%= success %></div>
<% } %>

<% if (error && error.length) { %>
  <div class="msg error"><%= error %></div>
<% } %>

<% if (warning && warning.length) { %>
  <div class="msg warning"><%= warning %></div>
<% } %>
